INF_API_BASE_URL="MyUrlHere/v1"
INF_API_KEY="123456789"
INF_MODEL_NAME="SomeModel"
INF_GREEDY_TEMPERATURE=0.30
INF_DEFAULT_TEMPERATURE=0.70
INF_CREATIVE_TEMPERATURE=1.00
INF_REASONING_ENABLED=True
INF_REASONING_EFFORT="medium"
INF_MAX_REASONING_BUDGET=4096
INF_MAX_OUTPUT=4096
INF_TOP_P=1.0
INF_TOP_K=200
INF_MIN_P=0.05
INF_REP_PENALTY=1.03
INF_PRES_PENALTY=1.01
INF_FREQ_PENALTY=1.01
INF_XTC_PROB=0.3
INF_XTC_THRES=0.4
INF_REQUEST_TIMEOUT=60
INF_GIGATOKEN_TOKENIZER='google/gemma-4-12B-it'
INF_SESSION_DIR='sessions'
INF_REASON_CODE='\x1b[38;5;28m'
INF_OUTPUT_CODE='\x1b[38;5;49m'
INF_PROMPT_CODE='\x1b[38;5;51m'
INF_INFO_CODE='\x1b[38;5;245m'
INF_DEBUG_CODE='\x1b[38;5;159m'
INF_CHOICE_CODE='\x1b[38;5;214m'
INF_ERROR_CODE='\x1b[38;5;196m'