<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interfance</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/scripts.js" defer></script>
    </head>
    <body>
        <div class="model-settings-container">
            <table class="model-settings">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>

                <tr>
                    <td colspan="5">Querying {{model}} at {{base_url}}</td>
                </tr>

                <tr>
                    <td>Reasoning: {{reasoning}}</td>
                    <td>Effort: {{reasoning_effort}}</td>
                    <td>Budget: {{max_reasoning}}</td>
                    <td>Output: {{max_output}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Temperature: {{greedy_temp}}/{{default_temp}}/{{creative_temp}}</td>
                    <td>Top-P: {{top_p}}</td>
                    <td>Top-K: {{top_k}}</td>
                    <td>Min-P: {{min_p}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Repetition Penalty: {{rep_pen}}</td>
                    <td>Frequency Penalty: {{freq_pen}}</td>
                    <td>Presence Penalty: {{pres_pen}}</td>
                    <td>XTC Probability: {{xtc_prob}}</td>
                    <td>XTC Threshold: {{xtc_thres}}</td>
                </tr>
            </table>
            <div class="session-picker-container">
                <div class="left-container">
                    <p>Select a Session to Load:</p>
                    <input type="file" id="file-upload" style="display:none" accept=".json">
                    <label for="file-upload" class="load-file">
                      Select Session
                    </label>
                    <span id="file-name">No session chosen</span>
                    <br />
                    <button id="session-loader-button">Load Session.</button>
                    <div id="FakeButton"></div>
                </div>
                <div class="right-container">
                    <label class="radio-item">
                      <input type="radio" name="save-format" value="OAI"> Open-AI
                    </label>
                    <label class="radio-item">
                      <input type="radio" name="save-format" value="Interfance"> Interfance
                    </label>
                    <label class="radio-item">
                      <input type="radio" name="save-format" value="Plain-Text"> Plain-Text
                    </label>
                    <button id="session-saver-button" style="display:block">Save Session.</button>
                    <br />
                    <button id="session-clear-button" style="display:block">Clear Session.</button>
                </div>
            </div>
        </div>
        <div id="MainBody" style="display:none">
            <div id="session-chat-html"></div>
            <label for="session-chat"></label><textarea id="session-chat" name="session-chat" placeholder="Session Chat goes here..."></textarea>
            <div id="BottomBar">
                <br />
                <div id="message-left-empty"></div>
                <label for="message-input"></label><textarea id="message-input" name="message-chat" placeholder="Message goes here..."></textarea>
                <button id="message-button">Submit Message.</button>
                <div id="message-right-empty"></div>
                <br />
            </div>
        </div>
    </body>
</html>
